{% extends 'base.html.twig' %}

{% block body %}

<div class="cardAjout">
<div class="card" style="width: 25rem;">
  <div class="card-body" id="cardAjoutComp">
   {{form(myExperience)}}
  </div>
</div>
</div>
{% endblock %}