{% extends 'base.html.twig' %}

{% block body %}
<div class="cardAjout">
<div class="card" style="width: 18rem;">
  <div class="card-body" id="cardAjoutComp">
   {{form(editExperience)}}
  </div>
</div>
</div>
{% endblock %}